
<div class="navigation" id="header_top">
        <span id="header_top_nav">0428780524</span>
</div>

<div class="navigation" id="header_middle">

        <div id="logo_container">
                <div id="nav_img_small"><img class="nav_image" src="assets/media/logo_small.PNG" alt="logo"></div>
                <div id="nav_img_big"><img class="nav_image" src="assets/media/logo_big.PNG" alt="logo"></div>   
        </div>
        
        <ul class="nav_list">
                <li><a href="#!">Buy</a></li>
                <li><a href="#!">Recipes</a></li>
                <li><a href="#!">Health</a></li>
                <li><a href="#!">About</a></li>
                <li><a href="#!">Contact</a></li>
        </ul>
</div>

<div class="navigation" id="header_bottom">
        <h1>{{ page.title }}</h1>
</div>
