
<div class="navigation" id="header_top">
        <span id="header_top_nav"> <a href="#!">0428780524</a> <span style="color: #FFCD00">|</span>  <a href="#!">warburtonroland@gmail.com</a></span>
</div>

<div class="navigation" id="header_middle">

        <a href="index.html">
                <div id="logo_container">
                        <div id="nav_img_small"><img class="nav_image" src="assets/media/logo_small.PNG" alt="{{ page.title }}"></div>
                        <div id="nav_img_big"><img class="nav_image" src="assets/media/logo_big.PNG" alt="{{ page.title }}"></div>   
                </div>
        </a>
        
        <ul class="nav_list">
			<li><a href="index.html">Home</a></li>
			<li><a href="products.html">Buy</a></li>
			<li><a href="#!">About</a></li>
			<li><a href="contact.html">Contact</a></li>
			<!-- <li><a href="#!">Recipes</a></li> -->
			<!-- <li><a href="#!">Health</a></li> -->
        </ul>
</div>

<div class="navigation hero_title" id="header_bottom">
        <!-- <h1>{{ page.title }}</h1> -->
</div>
