<div id="header_container">


    <div id="box1">
        <div id="logo_container">
                <img src="/assets/media/logo_small.PNG" alt="Italian Trulli">
                <img src="/assets/media/logo_big.PNG" alt="Italian Trulli">
        </div>
    </div>

    <div id="box2">
        <ul class ="nav_list">
                <li>
                    <a class="dropdown_trigger" href="#!">Honey</a>
                    <ul class="nav_dropdown">
                        <li class="dropdown_element"><a href="#!">Buy</a></li>
                        <li class="dropdown_element"><a href="#!">Recipes</a></li>
                        <li class="dropdown_element"><a href="#!">Health</a></li>
                    </ul>
                </li>
              
                        
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        <!-- test -->
    </div>
    
</div>

<div class="hero_container">
    <h1>{{ page.title }}</h1>
</div>
