$temp_blue: #0004ff;
$temp_red:#ff0000;
$accent:#FFCD00;

#header_container {
    background-color: $accent;
    display: grid;
    position: fixed;
    width: 100vw;
    height: 10vh;
    transition: height .5s;
    -webkit-transition: height .5s;
    grid-template-rows: 1;
    grid-template-columns: auto auto;

    #logo_container {
        height: 100%;
        float: left;
        img {
            height: 100%;
        }
        img:last-child {
            display: none;
        }
    }

    #box1 {
        // background-color: blue;
        grid-row: 1; 
        grid-column: 1;
        width: auto;
    }

    #box2 {
        // background-color: red;
        grid-row: 1; 
        grid-column: 2;
        width: auto;
        min-width: 50vw;
    }
    @include desktop {
        grid-template-columns: auto 1fr;
        grid-template-rows: none;
        height: 15vh;

        #logo_container {
            float: right;
            img:last-child {
                display: inline;
            }
        }
    }
}

.hero_container {
    background-image: url("/assets/media/hero.jpeg");
    padding: 200px 100px 200px 100px;
    text-align: center;
}

.scrolled-nav {
    height: 8vh !important;
    @include desktop {
        height: 10vh !important;
    }
}

// lists
ul {
    list-style-type: none;
   
    height: 100%;
    display: flex;
    // flex-direction: row;
    // justify-content: flex-start;



    li {
        display: inline;
        margin: auto 10;
    }
}
