$temp_blue: #0004ff;
$temp_red:#ff0000;
$accent:#FFCD00;

// https://codepen.io/ienronmalu/full/odmoOW


.navigation {
    background-color: $accent;
}

#header_top {
    background: darken( $main_color, 10%);
    display: grid;
    grid-template-columns: auto;
    font-size: 50%;
    padding: 0 10%;
    
}

#header_middle {
    background: $accent;
    position: sticky;
    top: 0;
    padding: 10px 10%;
    display: grid;
    grid-template-columns: auto 1fr;


    #logo_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        #nav_img_small {display: block;}
        #nav_img_big {display: none;}

        img {
            height: 2em;
        }
        
        @include desktop {
            #nav_img_small {display: none;}
            #nav_img_big {display: block;}
        }
    }
    
}

#header_bottom {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 30px;
    color: black;
    background: darken( $accent, 4% )
}

.nav_list {
    display: none;

    @include desktop {
        display: block;
        margin: auto 0;
        text-align: right;

        li {
            margin: 0 10px;
            display: inline;
        }
    }
}


// mobile nav
#hamburger_container {
    background: #ff0000;
    margin: auto 60%;
    z-index: 2;
}

.hamburger {
    display:flex;
    flex-wrap:wrap;
    height: 30px;
    width: 30px;
    
    &:hover {cursor:pointer;}
    .line {
        background:#000;
        width:100%;
        height: 6px;
    }
    @include desktop {
        display: none;
    }
  }

  
  #mobile_nav {
    background:grey;
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    a {
        margin: 10px auto;
    }
  }
  
