#products_wrapper {
    display: inline-grid;
    grid-template-rows: auto;
    justify-content: space-around;
    grid-gap: 2rem;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
}

.product {
    font-size: 2em;
    font-weight: bold;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    
    img {
        // width: 100%;
        border-radius: 25px 25px 0 0;
    }

    .product_title {
        border-radius: 0 0 10px 10px;
    }
    .product_title, .product_buy {
        display: grid;
        height: 100%;
        width: 100%;
        position: relative;
        background: darken($accent, 10);
    }

}