* {
    line-height:1.125em;
    font-size: calc(0.5rem + 2.5vmin);
}

// h1 {
//     font-size: 200%;
// }


ul {
    list-style-type: none;
}

a {
    color: $main-color;
    text-decoration: none;
   
  }
  
  a:hover {
    transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
    background-position: 0%;
  }
  

  p {
      color: white;
  }