$main_color:rgb(52, 62, 87);
body {
      background-color: $main_color;
      color: $main_color;
      
}

* {
      // transition: all .5s;
      margin: 0px;
      padding: 0px;
      // box-sizing: border-box;
}

.img_container {
      height: 300;

      .img_wrapper {
            // W & H determines whice side the img animates from
            width: 0%;
            height: 100%;
            overflow: hidden;
            display: grid;
      
            img {
                  overflow: hidden;
                  margin: auto;
                  padding: 10px;
                  background: wheat;
            }
      
      }
}

.container {
      padding: 10%;
}